
.purple50 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #f3e5f5;
}
.purple100 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #e1bee7;
}
.purple200 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #ce93d8;
}
.purple300 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #ba68c8;
}
.purple400 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #ab47bc;
}
.purple500 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #9c27b0;
}
.purple600 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #8e24aa;
}
.purple700 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #7b1fa2;
}
.purple800 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #6a1b9a;
}
.purple900 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #4a148c;
}
.purpleA100 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #ea80fc;
}
.purpleA200 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #e040fb;
}
.purpleA400 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #d500f9;
}
.purpleA700 {
  border: 1px solid black;
  min-height: 100px;
  background-color: #aa00ff;
}
